nav.navbar {
    background-color: rgba(94, 24, 37, 1);
}

/*.btn-primary {
    background-color: rgba(94, 24, 37, 1);
    border-color: rgba(94, 24, 37, 1);
}

.btn-primary:hover {
    background-color: rgba(94, 24, 37, 0.8);
    border-color: rgba(94, 24, 37, 0.8);
}*/

.row {
    margin-top: 50px;
}

hr {
    margin: 25px 0;
}

h5.card-header {
    color: rgba(94, 24, 37, 1);
}