<!DOCTYPE html>
<html>
    <head>
        <title>Wein hinzuf&uuml;gen | MyWines</title>
        <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/">MyWines</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/cellar">Weinkeller</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/winepairing">Wine Pairing</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>Wein hinzuf&uuml;gen</h1>
                    <form method="POST" action="/add">
                        <div>
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name"/>
                        </div>
                        <div>
                            <label for="year">Jahrgang</label>
                            <input type="text" id="year" name="year"/>
                        </div>
                        <div>
                            <label for="size">Flaschengr&ouml;sse</label>
                            <input type="text" id="size" name="size"/>
                        </div>
                        <div>
                            <label for="meals">Passende Gerichte</label>
                            <input type="text" id="meals" name="meals"/>
                        </div>
                        <div>
                            <label for="grape">Traubensorte</label>
                            <input type="text" id="grape" name="grape"/>
                        </div>
                        <div>
                            <label for="region">Region</label>
                            <input type="text" id="region" name="region"/>
                        </div>
                        <div>
                            <label for="pricepaid">Bezahlter Preis in CHF</label>
                            <input type="text" id="pricepaid" name="pricepaid"/>
                        </div>
                        <input type="submit" value="Wein hinzuf&uuml;gen"/>
                        <a href="/cellar" class="btn btn-primary btn-sm" role="button">Abbrechen</a>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>