<!DOCTYPE html>
<html>
    <head>
        <title>Weinkeller | MyWines</title>
        <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    </head>
    <body>
        <h1>Weinkeller</h1>
        <a href="/" class="btn btn-primary btn-sm" role="button">Home</a>
        <a href="/add" class="btn btn-secondary btn-sm" role="button">Wein hinzuf&uuml;gen</a>
        <table>
            <tr>
            <th>Name</th>
            <th>Jahrgang</th>
            <th>Flaschengr&ouml;sse</th>
            <th>Passende Gerichte</th>
            <th>Traubensorte</th>
            <th>Region</th>
            <th>Bezahlter Preis in CHF</th>
            <th>&nbsp;</th>
            </tr>
            {% for wine in wines %}
                
                <tr>
                    <td>{{ wine.name }}</td>
                    <td>{{ wine.year }}</td>
                    <td>{{ wine.size }}</td>
                    <td>{{ wine.meals }}</td>
                    <td>{{ wine.grape }}</td>
                    <td>{{ wine.region }}</td>
                    <td>{{ wine.pricepaid }}</td>
                    <td><a href="detail/{{ wine.id }}" class="btn btn-secondary btn-sm" role="button">Details</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>