<!DOCTYPE html>
<html>
    <head>
        <title>{{ wine.name }} {{ wine.year }} | MyWines</title>
        <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/">MyWines</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/cellar">Weinkeller</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/winepairing">Wine Pairing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/info">Info</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>Details zu {{ wine.name }} {{ wine.year }}</h1>
                    <br/>
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>Name</th>
                            <td>{{ wine.name }}</td>
                        </tr>
                        <tr>
                            <th>Jahrgang</th>
                            <td>{{ wine.year }}</td>
                        </tr>
                        <tr>
                            <th>Flaschengr&ouml;sse</th>
                            <td>{{ wine.size }} cl</td>
                        </tr>
                        <tr>
                            <th>Passende Gerichte</th>
                            <td>
                                {% for meal in wine.meals %}
                                <span class="badge badge-pill badge-dark">{{ meal }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>Traubensorte</th>
                            <td>{{ wine.grape }}</td>
                        </tr>
                        <tr>
                            <th>Region</th>
                            <td>{{ wine.region }}</td>
                        </tr>
                        <tr>
                            <th>Bezahlter Preis</th>
                            <td>CHF {{ wine.pricepaid }}</td>
                        </tr>
                        <tr>
                            <th>Trinkreife</th>
                            <td>ab {{ wine.winematurity }}</td>
                        </tr>
                    </table>
                    <br/>
                    <a href="/cellar" class="btn btn-secondary btn-sm" role="button">Zur&uuml;ck zum Weinkeller</a>
                    <a href="/delete/{{ wine.id }}" class="btn btn-primary btn-sm" role="button" onclick="return confirm('Dadurch wird der Wein aus dem Keller gel&ouml;scht. Fortfahren?');">Getrunken</a>
                </div>
            </div>
        </div>
    </body>
</html>