{# MyWines Startseite by Jannik Meier #}

<!DOCTYPE html>
<html>
    <head>
        <title>MyWines</title>
        <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/main.css">
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">MyWines</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cellar">Weinkeller</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/winepairing">Wine Pairing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/info">Info</a>
            </li>
          </ul>
        </nav>
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <h4 class="card-header">MyWines</h4>
                <div class="card-body">
                  <p class="card-text">Herzlich Willkommen bei MyWines! Um mehr über das Projekt zu erfahren, besuchen Sie die Info-Seite.</p>
                  <a href="/info" class="btn btn-dark" role="button">Mehr über MyWines erfahren</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <h4 class="card-header">Weinkeller</h4>
                <div class="card-body">
                  <p class="card-text">Der Weinkeller ist eine virtuelle Abbildung Ihrer Weinsammlung. Er soll Ihnen dabei helfen, den Überblick zu behalten.<br/>Tipp: Fügen Sie Ihre Weine nach jedem Einkauf gleich hinzu.</p>
                  <a href="/cellar" class="btn btn-dark" role="button">Jetzt in den Weinkeller gehen</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <h4 class="card-header">Wine Pairing</h4>
                <div class="card-body">
                  <p class="card-text">Welcher Wein passt zum heutigen Essen? Suchen Sie nach einem Gericht und es wird Ihnen eine Weinempfehlung gemacht.</p>
                  <a href="/winepairing" class="btn btn-dark" role="button">Zum Wine Pairing</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>