<!DOCTYPE html>
<html>
    <head>
        <title>Home | MyWines</title>
        <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    </head>
    <body>
        <h1>MyWines</h1>
        <p>Herzlich Willkommen! In vino veritas.</p>
        <h2>Weinkeller</h2>
        <p>Hier gehts zum Weinkeller:</p>
        <a href="/cellar" class="btn btn-primary btn-sm" role="button">Weinkeller</a>
        <h2>Wine Pairing</h2>
        <p>Welcher Wein zu welchem Essen?</p>
        <form action="winepairing" class="form-inline">
            <label class="sr-only" for="meal">Meal</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="meal" placeholder="Pasta, Steak, etc.">
            <button type="submit" class="btn btn-primary mb-2">Passenden Wein dazu finden</button>
          </form>
    </body>
</html>