<!DOCTYPE html>
<html>
    <head>
        <title>MyWines</title>
        <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/main.css">
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">MyWines</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cellar">Weinkeller</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/winepairing">Wine Pairing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/info">Info</a>
            </li>
          </ul>
        </nav>
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <h5 class="card-header">MyWines</h5>
                <div class="card-body">
                  <h5 class="card-title">Herzlich Willkommen</h5>
                  <p class="card-text">Lorem Ipsum Dolor Sit Amet.</p>
                  <a href="/info" class="btn btn-primary" role="button">Info</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <h5 class="card-header">Weinkeller</h5>
                <div class="card-body">
                  <h5 class="card-title">Hier gehts zum Weinkeller:</h5>
                  <a href="/cellar" class="btn btn-primary" role="button">Weinkeller</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <h5 class="card-header">Wine Pairing</h5>
                <div class="card-body">
                  <h5 class="card-title">Welcher Wein zu welchem Essen?</h5>
                  <form action="winepairing" class="form-inline">
                    <label class="sr-only" for="meal">Meal</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="meal" placeholder="Pasta, Steak, etc." style="width:inherit;"/>
                    <button type="submit" class="btn btn-primary mb-2">Passenden Wein dazu finden</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>