{# MyWines Wine Pairing by Jannik Meier #}

<!DOCTYPE html>
<html>
    <head>
        <title>Wine Pairing | MyWines</title>
        <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/main.css">
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">MyWines</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cellar">Weinkeller</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/winepairing">Wine Pairing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/info">Info</a>
            </li>
          </ul>
        </nav>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="card">
                <h4 class="card-header">Wine Pairing</h4>
                <div class="card-body">
                  <form action="winepairing" method="POST">
                    <div class="form-group">
                      <label for="meal">Welcher Wein passt zum heutigen Essen? Geben Sie ein Gericht ein und finden Sie jetzt den passenden Wein dazu!</label>
                      <input type="text" class="form-control" id="meal" name="meal" placeholder="z.B. Pasta oder Fisch" required/>
                    </div>
                    <button type="submit" class="btn btn-dark">Finden</button>
                  </form>
                  {# Wenn "wines" definiert ist, resp. Suche ausgeführt wurde... #}
                  {% if wines is defined %}
                    <hr/>
                    {# Wenn mindestens ein Wein gefunden wurde... #}
                    {% if wines|length > 0 %}
                      <p class="card-text">Folgende Empfehlung kann zu Ihrem gesuchten Gericht gemacht werden:</p>
                      <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Jahrgang</th>
                                    <th>Traubensorte</th>
                                    <th>Region</th>
                                    <th>Trinkreif</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for wine in wines %}
                                <tr>
                                    <td>{{ wine.name }}</td>
                                    <td>{{ wine.year }}</td>
                                    <td>{{ wine.grape }}</td>
                                    <td>{{ wine.region }}</td>
                                    <td>ab {{ wine.winematurity }}</td>
                                    <td><a href="detail/{{ wine.id }}" id="winedetails">Details</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      </div>
                    {# Wenn kein Wein gefunden wurde... #}
                    {% else %}
                      <div class="alert alert-danger" role="alert">Leider konnte zu Ihrem gesuchten Gericht kein passender Wein gefunden werden.</div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>